.buttonCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.buttonCard {
    width: 200px;
}


.container{
    display: flex;
    gap: 10%;

}

.btnCard1 {
    margin: 10px;
}
.icon-btn{
    display: flex;
    justify-content:space-around;
    align-items: center;
}