.icon-btn {
    display: flex;
    /* border:1px solid red ; */
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
}

.btn-red{
    background-color: red;
    color: white;
}
.btn-blue{
    background-color: rgb(31, 13, 194);
    color: white;

}
.btn-blue-weak{
    background-color: rgb(80, 194, 240);
    color: white;
}
